head
    title About Us
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/aboutUs/indexx.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Francois+One|Ubuntu+Condensed|Raleway|Fjalla+One|Yanone+Kaffeesatz|Rubik+Mono+One|Exo+2|Oswald', rel='stylesheet')
    script(type='text/javascript', src='js/jquery-3.1.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
#imagearea.row
    .col-md-12
        img.responsive(src='images/aboutUs/Logo.png')
#contactus.row
    .col-md-12
        .col-md-6(style='margin-right: auto;margin-left: auto; margin-top: 40px; margin-bottom:40px; text-align: center;')
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.2463011911814!2d79.8837588850527!3d6.861057374211851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25a59f683ced7%3A0xe7d8d5717eb850e!2sWoodland+Ave!5e0!3m2!1sen!2slk!4v1496566434618', width='500', height='350', frameborder='0', style='border:0', allowfullscreen='')

        .col-md-6(style='align-content: center; margin-top:70px;')
         sidebar
            h3
                | <strong> Contact Us

            p
                | Fusce ac velit. Nunc ut eros vitae magna tristique volutpat. Suspendisse potenti!
            // special list with class "contactlist"
            ul.contactlist
                li.address-icon 22-1/1, Woodland Avenue, Kohuwala
                li.phone-icon +94-767940104
                li.fax-icon +94-771932913
                li.email-icon yaka@gmail.com
#content.row
    .col-md-12
        h3 <strong> Our Team
#us.row
    .col-md-12
        .col-md-4
            img.img-circle(src='images/aboutUs/yaka.jpg', width='150', height='150')
            h3
                | Vishwa Sudantha
                br
                h4
                    |  Team Lead & Web Developer
        .col-md-4
            img.img-circle(src='images/aboutUs/seththa.jpg', width='150', height='150')
            h3
                | Sameera Dissanayake
                br
                h4
                    |   Mobile App Developer
        .col-md-4
            img.img-circle(src='images/aboutUs/araa.jpg', width='150', height='150')
            h3
                | Aravinda Rathnamalala
                br
                h4
                    |  Web Developer
    .col-md-12
        .col-md-4
            img.img-circle(src='images/aboutUs/zinda.jpg', width='150', height='150')
            h3
                | Uthpala Bathiya
                br
                h4
                    |  Web Developer
        .col-md-4
            img.img-circle(src='images/aboutUs/thadiya.jpg', width='150', height='150')
            h3
                | Musny Naleem
                br
                h4
                    |   Mobile App Developer
        .col-md-4
            img.img-circle(src='images/aboutUs/visnu.jpg', width='150', height='150')
            h3
                | Vishnusaran
                br
                h4
                    |  Web Developer
