//
   Created by Vishva on 4/25/2017.
link(rel='stylesheet', href='/player/emobar.css')
script(type='text/javascript' src='javascripts/modules/player/emo-bar.component.js')
.emotions
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['happy']}", src='/player/icons/happy.png', title='tooltip', name='happy')
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['in-love']}", src='/player/icons/in-love.png', title='tooltip', name='in-love')
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['angry']}", src='/player/icons/angry.png', title='tooltip', name='angry')
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['crying']}", src='/player/icons/crying.png', title='tooltip', name='crying')
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['embarrassed']}", src='/player/icons/embarrassed.png', title='tooltip', name='embarrassed')
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['crazy']}", src='/player/icons/tongue-out-1.png', width='8%', title='tooltip', name='crazy')
    img.img-circle.emoicon.songSelect(ng-click="$ctrl.handleClick($event.currentTarget)", ng-class="{'selected': $ctrl.mood['bored']}", src='/player/icons/bored.png', width='8%', title='tooltip', name='bored')