//
   Created by Vishva on 7/5/2017.

link(rel='stylesheet', href='/stylesheets/home.css')
link(rel='stylesheet', href='/stylesheets/animate.css')

img.animated(src="images/Logo.png")
//img.logoP.fadeOutRightBig(src="images/logoP.png")

.titleElement
    img.img-responsive.titleImage(src='images/Logo.png')
    .titleEmoBar
        .titleEmoBar
            img.img-circle.emoicon.animated(src='/player/icons/happy.png', title='Happy', name='happy')
            img.img-circle.emoicon(src='/player/icons/in-love.png', title='In-Love', name='inLove')
            img.img-circle.emoicon(src='/player/icons/angry.png', title='Angry', name='angry')
            img.img-circle.emoicon(src='/player/icons/crying.png', title='Crying', name='crying')
            img.img-circle.emoicon(src='/player/icons/embarrassed.png', title='Embarrassed', name='embarrassed')
            img.img-circle.emoicon(src='/player/icons/tongue-out-1.png', width='8%', title='Crazy', name='crazy')
            img.img-circle.emoicon(src='/player/icons/bored.png', width='8%', title='Bored', name='bored')


.jumbotron
    .well-sm Let us find your music for your every mood.