// banner

link(rel='stylesheet', href='/stylesheets/home.css')
section#banner.banner
  .bg-color
    .container
      .row
        .col-md-8
          .banner-info.animated.bounceIn
            .banner-logo.text-center
            .banner-text.text-center
              h1.white Be Bright, Turn to Solar Power
              p Be Bright, Turn to Solar Power Be Bright, Turn to Solar Power
              a.btn.btn-appoint.animated.bounceIn(href='#contact', style=' animation-delay: 0.4s;') See what else we do
  // bg color
