//
   Created by Vishva on 5/16/2017.
link(rel='stylesheet', href='/stylesheets/home.css')
link(rel='stylesheet', href='/stylesheets/animate.css')

img.logo(src="images/Logo.png")
img.logoP.fadeOutRightBig(src="images/logoP.png")
