//
   Created by Vishva on 7/26/2017.

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Mplay
        meta(content='width=device-width, initial-scale=1.0', name='viewport')
        meta(content='', name='keywords')
        meta(content='', name='description')
        // Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph
        meta(property='og:title', content='')
        meta(property='og:image', content='')
        meta(property='og:url', content='')
        meta(property='og:site_name', content='')
        meta(property='og:description', content='')
        // Twitter Cards integration: https://dev.twitter.com/cards/
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='')
        meta(name='twitter:title', content='')
        meta(name='twitter:description', content='')
        meta(name='twitter:image', content='')
        // Fav and touch icons
        link(rel='shortcut icon', href='homeAboutUs/img/icons/favicon.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='homeAboutUs/img/icons/114x114.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='homeAboutUs/img/icons/72x72.png')
        link(rel='apple-touch-icon-precomposed', href='homeAboutUs/img/icons/default.png')
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900', rel='stylesheet')
        // Bootstrap CSS File
        // Libraries CSS Files
        link(href='homeAboutUs/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='homeAboutUs/lib/owlcarousel/owl.carousel.min.css', rel='stylesheet')
        link(href='homeAboutUs/lib/owlcarousel/owl.theme.min.css', rel='stylesheet')
        link(href='homeAboutUs/lib/owlcarousel/owl.transitions.min.css', rel='stylesheet')
        // Main Stylesheet File
        link(href='homeAboutUs/css/style.css', rel='stylesheet')
        // Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default
        link#colour-scheme(href='#', rel='stylesheet')
        // image slider
        link(rel='stylesheet', type='text/css', href='homeAboutUs/engine1/style.css')
        //script(type='text/javascript', src='engine1/jquery.js')
        //
          =======================================================
          Theme Name: Flexor
          Theme URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
          Author: BootstrapMade.com
          Author URL: https://bootstrapmade.com
          =======================================================
    body.page-index.has-hero
        // Change the background class to alter background image, options are: benches, boots, buildings, city, metro
        #background-wrapper.buildings(data-stellar-background-ratio='0.1')
            #highlighted.hero
                .inner
                    // Slideshow
                    #highlighted-slider.container
                        .item-slider(data-toggle='owlcarousel', data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}')
                            // Slideshow content
                            // Slide 1
                            .item
                                .row
                                    .col-md-6.col-md-push-6.item-caption
                                        h2.h1.text-weight-light
                                            | Welcome to
                                            span.text-primary Mplay
                                        h4
                                            | Let's Find Out What MPLAY Provide Us
                                        p
                                            | You can hear songs according to your favours and tastes
                                            br
                                            |                         You can add songs according to your favours and tastes
                                            br
                                            |                         You can delete songs according to your favours and tastes
                                            br
                                            |                         You may feel easy to select song for your mood
                                            br
                                            |                         You can easily que songs
                                            br
                                            |                         Your votings will be very important for MPLAY
                                            br
                                            |                         Your ugly mood will be a pleasent one easily
                                            br
                                            |                         Anyone cant make your face ugly untill MPLAY remains
                                        a.btn.btn-more.btn-lg.i-right(ui-sref='login')
                                            | REGISTER WITH MPLAY NOW...!!!
                                            i.fa.fa-plus
                                    .col-md-6.col-md-pull-6.hidden-xs
                                        img.center-block.img-responsive(src='homeAboutUs/img/slides/s1.png', alt='Slide 1')
                            // Slide 2
                            .item
                                .row
                                    .col-md-6.text-right-md.item-caption
                                        h2.h1.text-weight-light
                                            | Let's Find Out What
                                            span.text-primary Mplay
                                            |  Provide Us
                                        h4
                                            | High quality, responsive theme!
                                        p
                                            | Perfect for your App, Web service, company or portfolio! Magna tincidunt sociis ac integer amet non. Rhoncus augue? Tempor porttitor sed, aliquet phasellus a, nisi nunc aliquet nec rhoncus enim porttitor ultrices lacus tristique?
                                        a.btn.btn-more.btn-lg(href='#')
                                            i.fa.fa-plus
                                            |  Learn More
                                    .col-md-6.hidden-xs
                                        img.center-block.img-responsive(src='homeAboutUs/img/slides/slide2.png', alt='Slide 2')
        // ======== @Region: #content ========
        #content
            // Mission Statement
            .mission.text-center.block.block-pd-sm.block-bg-noise
                .container
                    h2.text-shadow-white
                        | Not Happy With Current Players??!
                        br
                        |                 Don’t worry MPLAY will provide new experience for you.
                        a.btn.btn-more(href='about.html')
            // Showcase
            .container
                center
                    #wowslider-container1
                        .ws_images
                            ul
                                li
                                    img#wows1_0(src='homeAboutUs/data1/images/1.jpg', alt='1', title='1')
                                li
                                    img#wows1_0(src='homeAboutUs/data1/images/2.jpg', alt='1', title='1')
                        .ws_bullets
                            div
                                a(href='#', title='1')
                                    span 1
                                a(href='#', title='1')
                                    span 2
                        .ws_script(style='position:absolute;left:-99%')
                            a(href='#') j
                        .ws_shadow
                    //script(type='text/javascript', src='engine1/wowslider.js')
                    //script(type='text/javascript', src='engine1/script.js')
            // Services
            .services.block.block-bg-gradient.block-border-bottom
                .container
                    h2.block-title
                        | Our Services
                    .row
                        .col-md-4.text-center
                            span.fa-stack.fa-5x
                                i.fa.fa-circle.fa-stack-2x.text-primary
                                i.fa.fa-group.fa-stack-1x.fa-inverse
                            h4.text-weight-strong
                                | Customize user experience based on his/her listening patterns
                            p
                            p
                                a.btn.btn-more.i-right(href='#')
                                    | Learn More
                                    i.fa.fa-angle-right
                        .col-md-4.text-center
                            span.fa-stack.fa-5x
                                i.fa.fa-circle.fa-stack-2x.text-primary
                                i.fa.fa-pencil.fa-stack-1x.fa-inverse
                            h4.text-weight-strong
                                | Create a community based user app that would capture his/her emotions
                            p
                            p
                                a.btn.btn-more.i-right(href='#')
                                    | Learn More
                                    i.fa.fa-angle-right
                        .col-md-4.text-center
                            span.fa-stack.fa-5x
                                i.fa.fa-circle.fa-stack-2x.text-primary
                                i.fa.fa-cogs.fa-stack-1x.fa-inverse
                            h4.text-weight-strong
                                | Implement a community based online database
                            p
                            p
                                a.btn.btn-more.i-right(href='#')
                                    | Learn More
                                    i.fa.fa-angle-right
            .block.block-pd-sm.block-bg-grey-dark.block-bg-overlay.block-bg-overlay-6.text-center(data-block-bg-img='https://picjumbo.imgix.net/HNCK1088.jpg?q=40&w=1650&sharp=30', data-stellar-background-ratio='0.3')
                h2.h-xlg.h1.m-a-0
                    span(data-counter-up='') 100,000,0
                    | s
                h3.h-lg.m-t-0.m-b-lg
                    | Of Happy Users!
                p
                    a.btn.btn-more.btn-lg.i-right(ui-sref='login')
                        | Join them today!
                        i.fa.fa-angle-right
            // Customer testimonial & Latest Blog posts
            .testimonials.block-contained
                .row
                    // Customer testimonial
                    .col-md-6.m-b-lg
                        h3.block-title
                            | Testimonials
                        blockquote
                            p
                                | Our productivity & sales are up! Customers are happy & we couldn't be happier with this product!
                            // <img src="img/misc/charles-quote.png" alt="Charles Spencer Chaplin">
                            //
                              <small>
                              <strong>Charles Chaplin</strong>
                              <br>
                              British comic actor
                              </small>
                    // Latest Blog posts
                    .col-md-6.blog-roll
                        h3.block-title
                            | Our Team
                        // Blog post 1
                        div
                            .gallery
                                a(target='_blank', href='img_fjords.jpg')
                                    img(src='homeAboutUs/img/team/jaka.jpg', alt='Trolltunga Norway')
                                .desc vishwa
                            .gallery
                                a(target='_blank', href='img_fjords.jpg')
                                    img(src='homeAboutUs/img/team/araa.jpg', alt='Trolltunga Norway')
                                .desc Aravinda
                            .gallery
                                a(target='_blank', href='img_fjords.jpg')
                                    img(src='homeAboutUs/img/team/zinda.jpg', alt='Trolltunga Norway')
                                .desc Bhathiya
                            .gallery
                                a(target='_blank', href='img_fjords.jpg')
                                    img(src='homeAboutUs/img/team/visnu.jpg', alt='Trolltunga Norway')
                                .desc vishnu
                            .gallery
                                a(target='_blank', href='img_fjords.jpg')
                                    img(src='homeAboutUs/img/team/seththa.jpg', alt='Trolltunga Norway')
                                .desc Sameera
                            .gallery
                                a(target='_blank', href='img_fjords.jpg')
                                    img(src='homeAboutUs/img/team/thadiya.jpg', alt='Trolltunga Norway')
                                .desc Naleem
                        // Blog post 2
                        .media
        // ======== @Region: #footer ========
        footer#footer.block.block-bg-grey-dark(data-block-bg-img='img/bg_footer-map.png', data-stellar-background-ratio='0.4')
            .container
                .row.subfooter
                    // @todo: replace with company copyright details
                    .col-md-7
                        p Copyright © Mplay Theme
                        .credits
                            //
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flexor
                            a(href='#') Free Bootstrap Themes
                            |  by Mplay
                    .col-md-5
                        ul.list-inline.pull-right
                            li
                                a(href='#') Terms
                            li
                                a(href='#') Privacy
                            li
                                a(href='#') Contact Us
                a.scrolltop(href='#top') Top
