//
   Created by Vishva on 4/17/2017.
link(rel='stylesheet', href='/stylesheets/login.css')
block content
    .modal-dialog
        .modal-content
            .modal-header
                h4 Welcome
            .modal-body
                    ul.nav.nav-tabs.final-login
                        li(ng-class="{'active': $ctrl.showSignIn, '': !$ctrl.showSignIn}")
                            a(ng-click="$ctrl.showSignIn = true") Sign In
                        li(ng-class="{'active': !$ctrl.showSignIn, '': $ctrl.showSignIn}")
                            a(ng-click="$ctrl.showSignIn = false") Join us!
                    .tab-content
                        .tab-pane.fade.in(ng-class="{'active': $ctrl.showSignIn, '': !$ctrl.showSignIn}")
                            form
                                .form-group
                                    label Email Address
                                    input.form-control(type='text', name='email', ng-model="$ctrl.email")
                                .form-group
                                    label Password
                                    input.form-control(type='password', name='password', ng-model="$ctrl.password")
                                .btn.btn-default(type="button", ng-click="$ctrl.auth()") Sign In
                                a(href='') Forgot Password?
                            .social-login
                                p Sign in with
                                ul
                                    li
                                        a(href='')
                                            i.fa.fa-facebook
                                            |  Facebook
                                    li
                                        a(href='')
                                            i.fa.fa-google-plus
                                            |  Google+
                                    li
                                        a(href='')
                                            i.fa.fa-twitter
                                            |  Twitter
                            .clearfix
                        .tab-pane.fade.in(ng-class="{'active': !$ctrl.showSignIn, '': $ctrl.showSignIn}")
                            form(method='post')
                                .form-group
                                    label Name
                                    input.form-control(type='text', ng-model="$ctrl.signUpUserName")
                                .form-group
                                    label Email Address
                                    input.form-control(type='text', ng-model="$ctrl.signUpEmail")
                                .form-group
                                    label Password
                                    input.form-control(type='password', ng-model="$ctrl.signUpPassword")

                                .btn.btn-default(type='button', ng-click="$ctrl.signUp()") Join now
                                p
                                | By clicking Join now, you agree to Mplay's User Agreement, Privacy Policy, and Cookie Policy.
