//
   Created by Vishva on 4/24/2017.
link(rel='stylesheet', href='/player/skin.css')
#playerMain.playerMainSmall(ng-class="{'playerMainSmall': !showPlaylist, 'playerMainBig': showPlaylist}")
    sound-manager
        .seekBase(seek-track='')
            .seekLoad(ng-style="{width : ( progress + '%' ) }")
        br
        //p
            | Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})

        .currentDuration {{ currentDuration }}
        .currentPosition {{ currentPostion }}
        .btn-group
            button.btn.btn-primary.playerBtns.previous(prev-track='')
            button.btn.btn-primary.playerBtns.play(play-pause-toggle, ng-class="{'pause': isPlaying}")
            button.btn.btn-primary.playerBtns.next(next-track='')
            button.btn.btn-primary.playerBtns.stop(stop-music='')
            button.btn.btn-primary.playerBtns.repeat(repeat-music='')

        .btn-group
            .btn.btn-primary.playerBtnsVol.mute(mute-music='', ng-class="{'unmute': !mute}" )
            .btn.btn-primary.playerBtnsVol.volumeBase(volume-bar='')
                .volumeLoad(ng-style="{width : ( volume + '%' ) }", ng-class="{'volumeLoadUnMute': !mute}")

        .btn-group
            button.btn.btn-primary.playerBtns.playlist(ng-click="showPlaylist = !showPlaylist")
            button.btn.btn-primary.playerBtns.like(uib-tooltip='Rate this Song',data-toggle="modal", data-target="#likeModal", ng-click='$ctrl.checkLoggedIn()')
            button.btn.btn-primary.playerBtns.dislike(uib-tooltip='I dont like this song',data-toggle="modal", data-target="#dislikeModal", ng-click='$ctrl.checkLoggedIn()')
            button.btn.btn-primary.playerBtns.warn(uib-tooltip='Report this Song',data-toggle="modal", data-target="#reportModal", ng-click='$ctrl.checkLoggedIn()')
            emo-bar



        .currentTrackDetails {{ currentPlaying.title }} by {{ currentPlaying.artist }}
        ul.playList.animate-show-hide
            li(ng-repeat='song in playlist')
                a(play-from-playlist='song') {{ song.title }}
                |                         -
                a(remove-from-playlist='song', data-index='{{$index}}')
                    small (remove)
                span(ng-if='currentPlaying.id == song.id')  - (current)

#likeModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content(ng-show='$ctrl.loggedIn')
            .modal-header.modal-header-primary
                h4.modal-title.pull-left How do you feel about this song?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                .form-group.ui-widget
                    label Select Mood:
                    .container-fluid.moods
                        link(rel='stylesheet', href='/player/emobar.css')
                        .emotions.playerEmoBar
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['happy']}", src='/player/icons/happy.png', title='Happy', name='happy')
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['inLove']}", src='/player/icons/in-love.png', title='In-Love', name='inLove')
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['angry']}", src='/player/icons/angry.png', title='Angry', name='angry')
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['crying']}", src='/player/icons/crying.png', title='Crying', name='crying')
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['embarrassed']}", src='/player/icons/embarrassed.png', title='Embarrassed', name='embarrassed')
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['crazy']}", src='/player/icons/tongue-out-1.png', width='8%', title='Crazy', name='crazy')
                            img.img-circle.emoicon.songSelect(ng-click="$ctrl.EmoBarInput($event.currentTarget)", ng-class="{'selected': $ctrl.mood['bored']}", src='/player/icons/bored.png', width='8%', title='Bored', name='bored')
                    .msg(ng-show="$ctrl.emotionSelected") {{$ctrl.displayMoodString}}
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='$ctrl.rateSong()', ng-disabled='!$ctrl.emotionSelected') Submit
                button.btn.btn-default(type='button', data-dismiss='modal') Close
        .modal-content(ng-show='!$ctrl.loggedIn')
            .modal-header.modal-header-error
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Sorry you're not logged in.
            .modal-body
                p   You must be logged in to use this feature.
                a(ui-sref='login', data-dismiss='modal') Click here to login.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#dislikeModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content(ng-show='$ctrl.loggedIn')
            .modal-header.modal-header-warn
                h4.modal-title.pull-left What do you want to do?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                .form-group.ui-widget
                    label Don't play this song ever again.
                    input(type='checkbox')

            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='$ctrl.dislikeSong()') Submit
                button.btn.btn-default(type='button', data-dismiss='modal') Close
        .modal-content(ng-show='!$ctrl.loggedIn')
            .modal-header.modal-header-error
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Sorry you're not logged in.
            .modal-body
                p   You must be logged in to use this feature.
                a(ui-sref='login', data-dismiss='modal') Click here to login.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#reportModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content(ng-show='$ctrl.loggedIn')
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Report the song
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                .container
                    h2 Copyright Infringement Notification
                    form#submit_complaint(method='post')
                        #complaint_filter_div.section
                            p.section-header What is the issue?
                            script(type='text/javascript').
                                function yesnoCheck() {
                                    if (document.getElementById('yesCheck').checked) {
                                        document.getElementById('ifYes').style.display = 'block';
                                    }
                                    else document.getElementById('ifYes').style.display = 'none';
                                    if (document.getElementById('noCheck').checked) {
                                        document.getElementById('ifNo').style.display = 'block';
                                    }
                                    else document.getElementById('ifNo').style.display = 'none';
                                }
                            input#yesCheck(type='radio', onclick='javascript:yesnoCheck();', name='yesno')
                            | I am!
                            br
                            br
                            input#noCheck(type='radio', onclick='javascript:yesnoCheck();', name='yesno')
                            | My company, organisation or client
                            br
                        #ifYes(style='display:none')
                            form
                                .container
                                    h4 Audio to be removed
                                    .form-group
                                        label.control-label.col-sm-4(for='pwd') URL of allegedly infringing audio to be removed:
                                        .col-sm-6
                                            input#pwd.form-control(type='text', placeholder='URL of allegedly infringing audio to be removed', name='pwd')
                                            |         Describe the work allegedly infringed:
                                    br
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Where does the content appear?
                                        .col-sm-2
                                            input#radio.form-check-input(type='radio', name='exampleRadios', value='option1', checked='')
                                            |     Entire audio
                                        .col-sm-2
                                            input#radio.form-check-input(type='radio', name='exampleRadios', value='option2')
                                            |     Timestamps
                                        .col-sm-2
                                            input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='option3')
                                            |     Customised Thumbnail
                                    .form-group
                                        .col-sm-10
                                            b Tell us about yourself
                                            br
                                            |    ∗ Copyright Owner's Name (YouTube username or full legal name):
                                            |    The copyright owner name will be published on YouTube in place of disabled content.
                                            |    This will become part of the public record of your request, along with your description(s) of the work(s) allegedly infringed. All other information, including your full legal name and email address, are part of the full takedown notice, which may be provided to the uploader.
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Authority to make this complaint:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='Authority to make this complaint:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Secondary Email Address:
                                        .col-sm-6
                                            input#radio.form-control(type='email', placeholder='Secondary Email Address:', name='')
                                    .form-group
                                        .col-sm-10
                                            | We may email you about your takedown request if additional information is required. You may wish to provide an alternative email address where we can reach you, for example, if you don't frequently check the email address associated with your account.
                                            br
                                    //
                                      <div class="form-group">
                                      <label class="control-label col-sm-4" for="radio">Your Full Legal Name (A first and a last name, not a company name):</label>
                                      <div class="col-sm-6">
                                      <input type="password" class="form-control" id="radio" placeholder="Your Full Legal Name (A first and a last name, not a company name):" name="pwd">
                                      </div>
                                      </div>
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Street Address:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='Street Address:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') City:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='City:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') County/Area:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='County/Area:', name='')
                                        label.control-label.col-sm-4(for='radio') ZIP/Postcode:
                                        .col-sm-6
                                            input#radio.form-control(type='number', placeholder='ZIP/Postcode:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Phone:
                                        .col-sm-6
                                            input#radio.form-control(type='number', placeholder='Phone:', name='')
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I am the owner or an agent authorised to act on behalf of the owner of an exclusive right that has allegedly been infringed.
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I have a good faith belief that the use of the material in the manner reported by complaint is not authorised by the copyright owner, its agent or the law; and
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | This notification is accurate.
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I acknowledge that there may be adverse legal consequences for making false or bad faith allegations of copyright infringement by using this process.
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I understand that abuse of this tool will result in termination of my YouTube account.
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Typing your full name in this box will act as your digital signature.
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='Typing your full name in this box will act as your digital signature.', name='pwd')
                                    .col-sm-10
                                        input.btn.btn-default(type='submit', name='submit', value='submit complaint')
                        #ifNo(style='display:none')
                            form
                                .container
                                    h4 Audio to be removed
                                    .form-group
                                        label.control-label.col-sm-4(for='pwd') URL of allegedly infringing audio to be removed:
                                        .col-sm-6
                                            input#pwd.form-control(type='text', placeholder='URL of allegedly infringing audio to be removed', name='')
                                            |         Describe the work allegedly infringed:
                                    br
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Where does the content appear?
                                        .col-sm-2
                                            input#radio.form-check-input(type='radio', name='exampleRadios', value='option1', checked='')
                                            |     Entire audio
                                        .col-sm-2
                                            input#radio.form-check-input(type='radio', name='exampleRadios', value='option2')
                                            |     Timestamps
                                        .col-sm-2
                                            input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='option3')
                                            |     Customised Thumbnail
                                    .form-group
                                        .col-sm-10
                                            b Tell us about yourself
                                            br
                                            |    ∗ Copyright Owner's Name (YouTube username or full legal name):
                                            |    The copyright owner name will be published on YouTube in place of disabled content.
                                            |    This will become part of the public record of your request, along with your description(s) of the work(s) allegedly infringed. All other information, including your full legal name and email address, are part of the full takedown notice, which may be provided to the uploader.
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Authority to make this complaint:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='Authority to make this complaint:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Secondary Email Address:
                                        .col-sm-6
                                            input#radio.form-control(type='email', placeholder='Secondary Email Address:', name='')
                                    .form-group
                                        .col-sm-10
                                            | We may email you about your takedown request if additional information is required. You may wish to provide an alternative email address where we can reach you, for example, if you don't frequently check the email address associated with your account.
                                            br
                                    //
                                      <div class="form-group">
                                      <label class="control-label col-sm-4" for="radio">Your Full Legal Name (A first and a last name, not a company name):</label>
                                      <div class="col-sm-6">
                                      <input type="password" class="form-control" id="radio" placeholder="Your Full Legal Name (A first and a last name, not a company name):" name="pwd">
                                      </div>
                                      </div>
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Street Address:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='Street Address:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') City:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='City:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') County/Area:
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='County/Area:', name='')
                                        label.control-label.col-sm-4(for='radio') ZIP/Postcode:
                                        .col-sm-6
                                            input#radio.form-control(type='number', placeholder='ZIP/Postcode:', name='')
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Phone:
                                        .col-sm-6
                                            input#radio.form-control(type='number', placeholder='Phone:', name='')
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I am the owner or an agent authorised to act on behalf of the owner of an exclusive right that has allegedly been infringed.
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I have a good faith belief that the use of the material in the manner reported by complaint is not authorised by the copyright owner, its agent or the law; and
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | This notification is accurate.
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I acknowledge that there may be adverse legal consequences for making false or bad faith allegations of copyright infringement by using this process.
                                            label.checkbox-inline
                                                input(type='checkbox', value='')
                                                | I understand that abuse of this tool will result in termination of my YouTube account.
                                    .form-group
                                        label.control-label.col-sm-4(for='radio') Typing your full name in this box will act as your digital signature.
                                        .col-sm-6
                                            input#radio.form-control(type='text', placeholder='Typing your full name in this box will act as your digital signature.', name='')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='$ctrl.reportSong()') Submit
                button.btn.btn-default(type='button', data-dismiss='modal') Close
        .modal-content(ng-show='!$ctrl.loggedIn')
            .modal-header.modal-header-error
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Sorry you're not logged in.
            .modal-body
                p   You must be logged in to use this feature.
                a(ui-sref='login', data-dismiss='modal') Click here to login.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close

//    hr
    .row
        .col-md-12
            // init soundManager2 player
