//
   Created by Vishva on 4/24/2017.
link(rel='stylesheet', href='/player/skin.css')
#playerMain.playerMainSmall(ng-class="{'playerMainSmall': !showPlaylist, 'playerMainBig': showPlaylist}")
    sound-manager
        .seekBase(seek-track='')
            .seekLoad(ng-style="{width : ( progress + '%' ) }")
        br
        //p
            | Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
        .btn-group
            button.btn.btn-primary.playerBtns.previous(prev-track='')
            button.btn.btn-primary.playerBtns.play(play-pause-toggle, ng-class="{'pause': isPlaying}")
            button.btn.btn-primary.playerBtns.next(next-track='')
            button.btn.btn-primary.playerBtns.stop(stop-music='')
            button.btn.btn-primary.playerBtns.repeat(repeat-music='')

        .btn-group
            .btn.btn-primary.playerBtnsVol.mute(mute-music='', ng-class="{'unmute': !mute}" )
            .btn.btn-primary.playerBtnsVol.volumeBase(volume-bar='')
                .volumeLoad(ng-style="{width : ( volume + '%' ) }", ng-class="{'volumeLoadUnMute': !mute}")
        .btn-group
            button.btn.btn-primary.playerBtns.playlist(ng-click="showPlaylist = !showPlaylist")
            emo-bar

        ul.playList.animate-show-hide
            li(ng-repeat='song in playlist')
                a(play-from-playlist='song') {{ song.title }}
                |                         -
                a(remove-from-playlist='song', data-index='{{$index}}')
                    small (remove)
                span(ng-if='currentPlaying.id == song.id')  - (current)

       .row
            .col-md-12
                h5 Songs
                ul
                    li(ng-repeat='song in $ctrl.songs')
                        button(music-player='play', add-song='song') {{ song.title }}
                        button(music-player='', add-song='song') +
                button(play-all='songs') Play all
                button(play-all='songs', data-play='false') Add all

//    hr
    .row
        .col-md-12
            // init soundManager2 player
