doctype html
html(lang='en', ng-app='MPlayApp')
  head
    title= MPlay
    base(href='/')

    //Attaching stylesheets related to main App
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/angular-bootstrap/ui-bootstrap-csp.css')

    //Required essential plugins and angular modules
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')

    //Angular and angular modules added to main application
    script(type='text/javascript' src='bower_components/angular/angular.js')
    script(src='/bower_components/angular-soundmanager2/dist/angular-soundmanager2.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/angular-resource/angular-resource.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/rxjs/dist/rx.all.js')
    script(src='/bower_components/rx-angular/dist/rx.angular.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='/bower_components/angular-file-upload/dist/angular-file-upload.js')

    script(type='text/javascript' src='javascripts/modules/app.module.js')
    script(type='text/javascript' src='javascripts/modules/player/player.module.js')
    script(type='text/javascript' src='javascripts/modules/player/emo-bar.component.js')
    script(type='text/javascript' src='javascripts/modules/player/emo-bar-playlist.component.js')
    script(type='text/javascript' src='javascripts/modules/player/player-main.component.js')



    script(type='text/javascript' src='javascripts/modules/userMenu/user-menu.module.js')
    script(type='text/javascript' src='javascripts/modules/userMenu/my-account.component.js')

    script(type='text/javascript' src='javascripts/modules/songUpload/song-upload.module.js')
    script(type='text/javascript' src='javascripts/modules/songUpload/song-upload-form.component.js')


    // Attaching Angular Services to main App
    script(type='text/javascript' src='javascripts/modules/core/song/song.module.js')
    script(type='text/javascript' src='javascripts/modules/core/song/song.service.js')

    script(type='text/javascript' src='javascripts/modules/core/emotion/emotion.module.js')
    script(type='text/javascript' src='javascripts/modules/core/emotion/emotion.service.js')

    script(type='text/javascript' src='javascripts/modules/core/user/user.module.js')
    script(type='text/javascript' src='javascripts/modules/core/user/user.service.js')

    script(type='text/javascript' src='javascripts/modules/core/core.module.js')

    script(type='text/javascript' src='javascripts/modules/details/details.module.js')
    script(type='text/javascript' src='javascripts/modules/details/about-us.component.js')

    script(type='text/javascript' src='javascripts/modules/home/home.module.js')
    script(type='text/javascript' src='javascripts/modules/home/home.component.js')


  body(ng-controller='MainCtrl')
      player-main
      nav.navbar.navbar-default.navbar-fixed-top
        div.container
          .container-fluid
              .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  a.navbar-brand
                        img(src="images/logo.png")
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                      li.active
                          a(ui-sref='home')
                              | Home
                              span.sr-only (current)
                      li
                          a(ui-sref='aboutUs') About Us
                  ul.nav.navbar-nav.navbar-right
                      li
                          a(ui-sref='songUploadForm')
                              span.glyphicon.glyphicon-music
                              |  Add Songs
                      li
                          a(ui-sref='login')
                              span.glyphicon.glyphicon-log-in
                              |  Login/Sign Up


      block content


