//
   Created by Vishva on 4/5/2017.
html(ng-app='')
    head
        title Hello World in AngularJS
    body(ng-controller='TodoController')
        ul
            li(ng-repeat='todo in todos')
                input(type='checkbox', ng-model='todo.completed')
                |     {{ todo.name }}
        script.
            function TodoController($scope){
                $scope.todos = [
                    { name: 'Master HTML/CSS/Javascript', completed: true },
                    { name: 'Learn AngularJS', completed: false },
                    { name: 'Build NodeJS backend', completed: false },
                    { name: 'Get started with ExpressJS', completed: false },
                    { name: 'Setup MongoDB database', completed: false },
                    { name: 'Be awesome!', completed: false },
                ]
            }
        script(src='bower_components/angular/angular.js')
