//
   Created by Vishva on 7/6/2017.
link(rel='stylesheet', href='/stylesheets/loading.css')
.container
    .row.text-center
        .col-sm-6.col-sm-offset-3
            br
            br
            .logo.bounce
            .text-process
                | Processing your request
                span >
                span >
                span >
            br
            br