//
   Created by Vishva on 6/29/2017.

.container
    .row.text-center
        .col-sm-6.col-sm-offset-3
            br
            br
            h2(style='color:#0fad00') Successfully Signed up for MPlay
            img(src='images/success.png')
            h3 Dear, user
            p(style='font-size:20px;color:#5C5C5C;')
                | You have been signed up for Mplay.
            a(ui-sref='login') Click here to login
            br
            br