//
   Created by Vishva on 6/29/2017.

.container
    .row.text-center
        .col-sm-6.col-sm-offset-3
            br
            br
            h2(style='color:#a94442') Sign Up Has Failed
            img(src='images/error.png')
            h3 Dear, user
            p(style='font-size:20px;color:#5C5C5C;')
                | We are unable to sign you up right now. Try again later.
            a(ui-sref='home') Go Home
            br
            br