/* banner */
#banner{
	background: url('../images/bg-banner.svg') no-repeat fixed;
	background-size: cover;
	min-height: 450px;
	position: relative;
}


.bg-color{
	min-height: 650px;
}
.banner-info{
	padding-top: 190px;
}
.banner-logo img{
	display: inline-block;
}
.banner-text {
    color: #fff;
    text-shadow: 2px 1px 7px #7b7878;
    
}

.banner-text a {
    text-shadow: 0px 0px 0px #7b7878;
    font-size: 12px;
    text-transform: uppercase;
   letter-spacing: 2px;
}
.banner-text h1{
	font-family: 'Candal', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom:15px; 
}

.white-section{
	min-height: 400px;
   padding: 40px 0px;
}

.white-section h4{
    line-height: 1.5;
    padding-top: 65px;
    padding-left: 6px;
    padding-right: 6px;
}



.inverse-section{
    background-color: #9C27B0;
    color :white;
	min-height: 450px;
    padding: 40px 0px;
}

.inverse-section h4{
    line-height: 1.5;
    /* padding-top: 33px; */
    
}
.inverse-section .pg-titl-bdr-btm{
    color :white;
    background-color:#FFEDC1;
}
.inverse-section .page-header h1{
    color: #FFEDC1;
    
}

