//
   Created by Vishva on 4/20/2017.
.mainbody.container-fluid
    .row
        div(style='padding-top:50px;')  
        .col-lg-3.col-md-3.col-sm-3.hidden-xs
            .panel.panel-default.panel-menu.panel-active
                .panel-body
                    a(ui-sref='myAccount')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Settings
                        | &nbsp;
                        span.glyphicon.glyphicon-cog
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='mySongs')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  My Songs
                        | &nbsp;
                        span.glyphicon.glyphicon-headphones
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='myAccount')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  My Messages
                        | &nbsp;
                        span.glyphicon.glyphicon-comment
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .panel.panel-default
                .panel-body
                    h1.panel-title.pull-left(style='font-size:20px;') My basic profile
            .panel.panel-default
                .panel-body
                    h3.panel-title.pull-left Your photo
                    br
                    br
                    div(align='center')
                        .col-lg-12.col-md-12
                            img.img-circle.img-responsive(ng-src='{{$ctrl.imageFileLink}}', width='100px', height='100px')
                        .col-lg-12.col-md-12
                            label.btn.btn-primary Upload a new profile photo!
                                input(type='file',id='imageIn', name='imageFile', ng-model='$ctrl.imageFile' ng-change="$ctrol.previewImage($event.currentTarget)")
            .panel.panel-default
                .panel-body
                    h3.panel-title.pull-left Basic Details
                    h3.panel-title.pull-right
                        button.btn.btn-default(ng-click='showEdit = !showEdit', ng-show='!showEdit')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Edit
                        button.btn.btn-default(ng-click='showEdit = !showEdit;$ctrl.EditBasic()', ng-show='showEdit',)
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Done
                    br
                    br
                    form.form-horizontal
                        label First name
                        input.form-control(type='text', ng-model='$ctrl.FirstName', ng-disabled='!showEdit')
                        label Last name
                        input.form-control(type='text', ng-model='$ctrl.LastName', ng-disabled='!showEdit')
                        label Gender
                        select.form-control(type='text', ng-model='$ctrl.Gender', ng-disabled='!showEdit')
                            option(value='Male', title='Male') Male
                            option(value='Female', title='Female') Female
                        label Country
                        select.form-control(type='text', ng-model='$ctrl.Country', ng-disabled='!showEdit')
                            option(value='Afghanistan', title='Afghanistan') Afghanistan
                            option(value='Åland Islands', title='Åland Islands') Åland Islands
                            option(value='Albania', title='Albania') Albania
                            option(value='Algeria', title='Algeria') Algeria
                            option(value='American Samoa', title='American Samoa') American Samoa
                            option(value='Andorra', title='Andorra') Andorra
                            option(value='Angola', title='Angola') Angola
                            option(value='Anguilla', title='Anguilla') Anguilla
                            option(value='Antarctica', title='Antarctica') Antarctica
                            option(value='Antigua and Barbuda', title='Antigua and Barbuda') Antigua and Barbuda
                            option(value='Argentina', title='Argentina') Argentina
                            option(value='Armenia', title='Armenia') Armenia
                            option(value='Aruba', title='Aruba') Aruba
                            option(value='Australia', title='Australia') Australia
                            option(value='Austria', title='Austria') Austria
                            option(value='Azerbaijan', title='Azerbaijan') Azerbaijan
                            option(value='Bahamas', title='Bahamas') Bahamas
                            option(value='Bahrain', title='Bahrain') Bahrain
                            option(value='Bangladesh', title='Bangladesh') Bangladesh
                            option(value='Barbados', title='Barbados') Barbados
                            option(value='Belarus', title='Belarus') Belarus
                            option(value='Belgium', title='Belgium') Belgium
                            option(value='Belize', title='Belize') Belize
                            option(value='Benin', title='Benin') Benin
                            option(value='Bermuda', title='Bermuda') Bermuda
                            option(value='Bhutan', title='Bhutan') Bhutan
                            option(value='Bolivia, Plurinational State of', title='Bolivia, Plurinational State of') Bolivia, Plurinational State of
                            option(value='Bonaire, Sint Eustatius and Saba', title='Bonaire, Sint Eustatius and Saba') Bonaire, Sint Eustatius and Saba
                            option(value='Bosnia and Herzegovina', title='Bosnia and Herzegovina') Bosnia and Herzegovina
                            option(value='Botswana', title='Botswana') Botswana
                            option(value='Bouvet Island', title='Bouvet Island') Bouvet Island
                            option(value='Brazil', title='Brazil') Brazil
                            option(value='British Indian Ocean Territory', title='British Indian Ocean Territory') British Indian Ocean Territory
                            option(value='Brunei Darussalam', title='Brunei Darussalam') Brunei Darussalam
                            option(value='Bulgaria', title='Bulgaria') Bulgaria
                            option(value='Burkina Faso', title='Burkina Faso') Burkina Faso
                            option(value='Burundi', title='Burundi') Burundi
                            option(value='Cambodia', title='Cambodia') Cambodia
                            option(value='Cameroon', title='Cameroon') Cameroon
                            option(value='Canada', title='Canada') Canada
                            option(value='Cape Verde', title='Cape Verde') Cape Verde
                            option(value='Cayman Islands', title='Cayman Islands') Cayman Islands
                            option(value='Central African Republic', title='Central African Republic') Central African Republic
                            option(value='Chad', title='Chad') Chad
                            option(value='Chile', title='Chile') Chile
                            option(value='China', title='China') China
                            option(value='Christmas Island', title='Christmas Island') Christmas Island
                            option(value='Cocos (Keeling) Islands', title='Cocos (Keeling) Islands') Cocos (Keeling) Islands
                            option(value='Colombia', title='Colombia') Colombia
                            option(value='Comoros', title='Comoros') Comoros
                            option(value='Congo', title='Congo') Congo
                            option(value='Congo, the Democratic Republic of the', title='Congo, the Democratic Republic of the') Congo, the Democratic Republic of the
                            option(value='Cook Islands', title='Cook Islands') Cook Islands
                            option(value='Costa Rica', title='Costa Rica') Costa Rica
                            option(value="Côte d'Ivoire", title="Côte d'Ivoire") Côte d'Ivoire
                            option(value='Croatia', title='Croatia') Croatia
                            option(value='Cuba', title='Cuba') Cuba
                            option(value='Curaçao', title='Curaçao') Curaçao
                            option(value='Cyprus', title='Cyprus') Cyprus
                            option(value='Czech Republic', title='Czech Republic') Czech Republic
                            option(value='Denmark', title='Denmark') Denmark
                            option(value='Djibouti', title='Djibouti') Djibouti
                            option(value='Dominica', title='Dominica') Dominica
                            option(value='Dominican Republic', title='Dominican Republic') Dominican Republic
                            option(value='Ecuador', title='Ecuador') Ecuador
                            option(value='Egypt', title='Egypt') Egypt
                            option(value='El Salvador', title='El Salvador') El Salvador
                            option(value='Equatorial Guinea', title='Equatorial Guinea') Equatorial Guinea
                            option(value='Eritrea', title='Eritrea') Eritrea
                            option(value='Estonia', title='Estonia') Estonia
                            option(value='Ethiopia', title='Ethiopia') Ethiopia
                            option(value='Falkland Islands (Malvinas)', title='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)
                            option(value='Faroe Islands', title='Faroe Islands') Faroe Islands
                            option(value='Fiji', title='Fiji') Fiji
                            option(value='Finland', title='Finland') Finland
                            option(value='France', title='France') France
                            option(value='French Guiana', title='French Guiana') French Guiana
                            option(value='French Polynesia', title='French Polynesia') French Polynesia
                            option(value='French Southern Territories', title='French Southern Territories') French Southern Territories
                            option(value='Gabon', title='Gabon') Gabon
                            option(value='Gambia', title='Gambia') Gambia
                            option(value='Georgia', title='Georgia') Georgia
                            option(value='Germany', title='Germany') Germany
                            option(value='Ghana', title='Ghana') Ghana
                            option(value='Gibraltar', title='Gibraltar') Gibraltar
                            option(value='Greece', title='Greece') Greece
                            option(value='Greenland', title='Greenland') Greenland
                            option(value='Grenada', title='Grenada') Grenada
                            option(value='Guadeloupe', title='Guadeloupe') Guadeloupe
                            option(value='Guam', title='Guam') Guam
                            option(value='Guatemala', title='Guatemala') Guatemala
                            option(value='Guernsey', title='Guernsey') Guernsey
                            option(value='Guinea', title='Guinea') Guinea
                            option(value='Guinea-Bissau', title='Guinea-Bissau') Guinea-Bissau
                            option(value='Guyana', title='Guyana') Guyana
                            option(value='Haiti', title='Haiti') Haiti
                            option(value='Heard Island and McDonald Islands', title='Heard Island and McDonald Islands') Heard Island and McDonald Islands
                            option(value='Holy See (Vatican City State)', title='Holy See (Vatican City State)') Holy See (Vatican City State)
                            option(value='Honduras', title='Honduras') Honduras
                            option(value='Hong Kong', title='Hong Kong') Hong Kong
                            option(value='Hungary', title='Hungary') Hungary
                            option(value='Iceland', title='Iceland') Iceland
                            option(value='India', title='India') India
                            option(value='Indonesia', title='Indonesia') Indonesia
                            option(value='Iran, Islamic Republic of', title='Iran, Islamic Republic of') Iran, Islamic Republic of
                            option(value='Iraq', title='Iraq') Iraq
                            option(value='Ireland', title='Ireland') Ireland
                            option(value='Isle of Man', title='Isle of Man') Isle of Man
                            option(value='Israel', title='Israel') Israel
                            option(value='Italy', title='Italy') Italy
                            option(value='Jamaica', title='Jamaica') Jamaica
                            option(value='Japan', title='Japan') Japan
                            option(value='Jersey', title='Jersey') Jersey
                            option(value='Jordan', title='Jordan') Jordan
                            option(value='Kazakhstan', title='Kazakhstan') Kazakhstan
                            option(value='Kenya', title='Kenya') Kenya
                            option(value='Kiribati', title='Kiribati') Kiribati
                            option(value="Korea, Democratic People's Republic of", title="Korea, Democratic People's Republic of") Korea, Democratic People's Republic of
                            option(value='Korea, Republic of', title='Korea, Republic of') Korea, Republic of
                            option(value='Kuwait', title='Kuwait') Kuwait
                            option(value='Kyrgyzstan', title='Kyrgyzstan') Kyrgyzstan
                            option(value="Lao People's Democratic Republic", title="Lao People's Democratic Republic") Lao People's Democratic Republic
                            option(value='Latvia', title='Latvia') Latvia
                            option(value='Lebanon', title='Lebanon') Lebanon
                            option(value='Lesotho', title='Lesotho') Lesotho
                            option(value='Liberia', title='Liberia') Liberia
                            option(value='Libya', title='Libya') Libya
                            option(value='Liechtenstein', title='Liechtenstein') Liechtenstein
                            option(value='Lithuania', title='Lithuania') Lithuania
                            option(value='Luxembourg', title='Luxembourg') Luxembourg
                            option(value='Macao', title='Macao') Macao
                            option(value='Macedonia, the former Yugoslav Republic of', title='Macedonia, the former Yugoslav Republic of') Macedonia, the former Yugoslav Republic of
                            option(value='Madagascar', title='Madagascar') Madagascar
                            option(value='Malawi', title='Malawi') Malawi
                            option(value='Malaysia', title='Malaysia') Malaysia
                            option(value='Maldives', title='Maldives') Maldives
                            option(value='Mali', title='Mali') Mali
                            option(value='Malta', title='Malta') Malta
                            option(value='Marshall Islands', title='Marshall Islands') Marshall Islands
                            option(value='Martinique', title='Martinique') Martinique
                            option(value='Mauritania', title='Mauritania') Mauritania
                            option(value='Mauritius', title='Mauritius') Mauritius
                            option(value='Mayotte', title='Mayotte') Mayotte
                            option(value='Mexico', title='Mexico') Mexico
                            option(value='Micronesia, Federated States of', title='Micronesia, Federated States of') Micronesia, Federated States of
                            option(value='Moldova, Republic of', title='Moldova, Republic of') Moldova, Republic of
                            option(value='Monaco', title='Monaco') Monaco
                            option(value='Mongolia', title='Mongolia') Mongolia
                            option(value='Montenegro', title='Montenegro') Montenegro
                            option(value='Montserrat', title='Montserrat') Montserrat
                            option(value='Morocco', title='Morocco') Morocco
                            option(value='Mozambique', title='Mozambique') Mozambique
                            option(value='Myanmar', title='Myanmar') Myanmar
                            option(value='Namibia', title='Namibia') Namibia
                            option(value='Nauru', title='Nauru') Nauru
                            option(value='Nepal', title='Nepal') Nepal
                            option(value='Netherlands', title='Netherlands') Netherlands
                            option(value='New Caledonia', title='New Caledonia') New Caledonia
                            option(value='New Zealand', title='New Zealand') New Zealand
                            option(value='Nicaragua', title='Nicaragua') Nicaragua
                            option(value='Niger', title='Niger') Niger
                            option(value='Nigeria', title='Nigeria') Nigeria
                            option(value='Niue', title='Niue') Niue
                            option(value='Norfolk Island', title='Norfolk Island') Norfolk Island
                            option(value='Northern Mariana Islands', title='Northern Mariana Islands') Northern Mariana Islands
                            option(value='Norway', title='Norway') Norway
                            option(value='Oman', title='Oman') Oman
                            option(value='Pakistan', title='Pakistan') Pakistan
                            option(value='Palau', title='Palau') Palau
                            option(value='Palestinian Territory, Occupied', title='Palestinian Territory, Occupied') Palestinian Territory, Occupied
                            option(value='Panama', title='Panama') Panama
                            option(value='Papua New Guinea', title='Papua New Guinea') Papua New Guinea
                            option(value='Paraguay', title='Paraguay') Paraguay
                            option(value='Peru', title='Peru') Peru
                            option(value='Philippines', title='Philippines') Philippines
                            option(value='Pitcairn', title='Pitcairn') Pitcairn
                            option(value='Poland', title='Poland') Poland
                            option(value='Portugal', title='Portugal') Portugal
                            option(value='Puerto Rico', title='Puerto Rico') Puerto Rico
                            option(value='Qatar', title='Qatar') Qatar
                            option(value='Réunion', title='Réunion') Réunion
                            option(value='Romania', title='Romania') Romania
                            option(value='Russian Federation', title='Russian Federation') Russian Federation
                            option(value='Rwanda', title='Rwanda') Rwanda
                            option(value='Saint Barthélemy', title='Saint Barthélemy') Saint Barthélemy
                            option(value='Saint Helena, Ascension and Tristan da Cunha', title='Saint Helena, Ascension and Tristan da Cunha') Saint Helena, Ascension and Tristan da Cunha
                            option(value='Saint Kitts and Nevis', title='Saint Kitts and Nevis') Saint Kitts and Nevis
                            option(value='Saint Lucia', title='Saint Lucia') Saint Lucia
                            option(value='Saint Martin (French part)', title='Saint Martin (French part)') Saint Martin (French part)
                            option(value='Saint Pierre and Miquelon', title='Saint Pierre and Miquelon') Saint Pierre and Miquelon
                            option(value='Saint Vincent and the Grenadines', title='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines
                            option(value='Samoa', title='Samoa') Samoa
                            option(value='San Marino', title='San Marino') San Marino
                            option(value='Sao Tome and Principe', title='Sao Tome and Principe') Sao Tome and Principe
                            option(value='Saudi Arabia', title='Saudi Arabia') Saudi Arabia
                            option(value='Senegal', title='Senegal') Senegal
                            option(value='Serbia', title='Serbia') Serbia
                            option(value='Seychelles', title='Seychelles') Seychelles
                            option(value='Sierra Leone', title='Sierra Leone') Sierra Leone
                            option(value='Singapore', title='Singapore') Singapore
                            option(value='Sint Maarten (Dutch part)', title='Sint Maarten (Dutch part)') Sint Maarten (Dutch part)
                            option(value='Slovakia', title='Slovakia') Slovakia
                            option(value='Slovenia', title='Slovenia') Slovenia
                            option(value='Solomon Islands', title='Solomon Islands') Solomon Islands
                            option(value='Somalia', title='Somalia') Somalia
                            option(value='South Africa', title='South Africa') South Africa
                            option(value='South Georgia and the South Sandwich Islands', title='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands
                            option(value='South Sudan', title='South Sudan') South Sudan
                            option(value='Spain', title='Spain') Spain
                            option(value='Sri Lanka', title='Sri Lanka') Sri Lanka
                            option(value='Sudan', title='Sudan') Sudan
                            option(value='Suriname', title='Suriname') Suriname
                            option(value='Svalbard and Jan Mayen', title='Svalbard and Jan Mayen') Svalbard and Jan Mayen
                            option(value='Swaziland', title='Swaziland') Swaziland
                            option(value='Sweden', title='Sweden') Sweden
                            option(value='Switzerland', title='Switzerland') Switzerland
                            option(value='Syrian Arab Republic', title='Syrian Arab Republic') Syrian Arab Republic
                            option(value='Taiwan, Province of China', title='Taiwan, Province of China') Taiwan, Province of China
                            option(value='Tajikistan', title='Tajikistan') Tajikistan
                            option(value='Tanzania, United Republic of', title='Tanzania, United Republic of') Tanzania, United Republic of
                            option(value='Thailand', title='Thailand') Thailand
                            option(value='Timor-Leste', title='Timor-Leste') Timor-Leste
                            option(value='Togo', title='Togo') Togo
                            option(value='Tokelau', title='Tokelau') Tokelau
                            option(value='Tonga', title='Tonga') Tonga
                            option(value='Trinidad and Tobago', title='Trinidad and Tobago') Trinidad and Tobago
                            option(value='Tunisia', title='Tunisia') Tunisia
                            option(value='Turkey', title='Turkey') Turkey
                            option(value='Turkmenistan', title='Turkmenistan') Turkmenistan
                            option(value='Turks and Caicos Islands', title='Turks and Caicos Islands') Turks and Caicos Islands
                            option(value='Tuvalu', title='Tuvalu') Tuvalu
                            option(value='Uganda', title='Uganda') Uganda
                            option(value='Ukraine', title='Ukraine') Ukraine
                            option(value='United Arab Emirates', title='United Arab Emirates') United Arab Emirates
                            option(value='United Kingdom', title='United Kingdom') United Kingdom
                            option(value='United States', title='United States') United States
                            option(value='United States Minor Outlying Islands', title='United States Minor Outlying Islands') United States Minor Outlying Islands
                            option(value='Uruguay', title='Uruguay') Uruguay
                            option(value='Uzbekistan', title='Uzbekistan') Uzbekistan
                            option(value='Vanuatu', title='Vanuatu') Vanuatu
                            option(value='Venezuela, Bolivarian Republic of', title='Venezuela, Bolivarian Republic of') Venezuela, Bolivarian Republic of
                            option(value='Viet Nam', title='Viet Nam') Viet Nam
                            option(value='Virgin Islands, British', title='Virgin Islands, British') Virgin Islands, British
                            option(value='Virgin Islands, U.S.', title='Virgin Islands, U.S.') Virgin Islands, U.S.
                            option(value='Wallis and Futuna', title='Wallis and Futuna') Wallis and Futuna
                            option(value='Western Sahara', title='Western Sahara') Western Sahara
                            option(value='Yemen', title='Yemen') Yemen
                            option(value='Zambia', title='Zambia') Zambia
                            option(value='Zimbabwe', title='Zimbabwe') Zimbabwe
                        label BirthDate
                        input.form-control(type='date', ng-model='$ctrl.BirthDate', ng-disabled='!showEdit')

            hr
            .panel.panel-default
                .panel-body
                    h3.panel-title.pull-left Profile settings
                    br
                    br
                    h4 User
                    form.form-horizontal
                        label UserName
                        input.form-control(type='text', disabled='', ng-model='$ctrl.userName')
                        label Email
                        input.form-control(type='text', disabled='', ng-model='$ctrl.userEmail')
                        label Current Password
                        input.form-control(type='password', ng-disabled='!showEditPass', ng-model='$ctrl.currentPass')
                        label(ng-show='showEditPass') New Password
                        input.form-control(type='password', ng-model='$ctrl.newPass', ng-show='showEditPass')
                        label(ng-show='showEditPass') Re-Enter New Password
                        input.form-control(type='password', ng-model='$ctrl.newPassConfirm',ng-show='showEditPass')
                    .panel-footer.pull-right
                        button.btn.btn-default(ng-click='showEditPass = !showEditPass', ng-show='!showEditPass')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Edit Password
                        button.btn.btn-default(ng-click='showEditPass = !showEditPass', ng-show='showEditPass')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Done


                    br
            .panel.panel-danger
                .panel-body
                    h3 You're about to save changes
                    p.text-danger
                        strong
                            i.fa.fa-fw.fa-exclamation-triangle(aria-hidden='true')
                            |  All the changes you have made here will be saved. Please note that username and email can't be changed.
                    button.btn.btn-default
                        i.fa.fa-fw.fa-times(aria-hidden='true')
                        |  Cancel
                    button.btn.btn-primary
                        i.fa.fa-fw.fa-check(aria-hidden='true')
                        |  Update Profile
