//
   Created by Vishva on 4/20/2017.
link(rel='stylesheet', href='/stylesheets/MyAccountNav.css')
.row-fluid
    .col-sm-2
        ul#main-nav.nav.nav-tabs.nav-stacked
            li
                a(href='MyAccount.php')
                    h3 My Account
            li.active
                a(href='#') Settings
            li
                a(href='#') My Songs
            li
                a(href='#') Manage
    .col-sm-10
        .container
            h4 Edit Profile
            hr
            .row
                // left column
                .col-md-3
                    .text-center
                        img.avatar.img-circle(src='//placehold.it/100', alt='avatar')
                        h6 Upload a different photo...
                        input.form-control(type='file')
                // edit form column
                .col-md-9.personal-info
                    .alert.alert-info.alert-dismissable
                        a.panel-close.close(data-dismiss='alert') ×
                        i.fa.fa-coffee
                        |           This is an
                        strong .alert
                        | . Use this to show important messages to the user.
                    h5 Personal info
                    form.form-horizontal(role='form')
                        .form-group
                            label.col-lg-3.control-label First name:
                            .col-lg-8
                                input.form-control(type='text', value='Jane')
                        .form-group
                            label.col-lg-3.control-label Last name:
                            .col-lg-8
                                input.form-control(type='text', value='Bishop')
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-8
                                input.form-control(type='text', value='janesemail@gmail.com')
                        .form-group
                            label.col-lg-3.control-label Time Zone:
                            .col-lg-8
                                .ui-select
                                    select#user_time_zone.form-control
                                        option(value='Hawaii') (GMT-10:00) Hawaii
                                        option(value='Alaska') (GMT-09:00) Alaska
                                        option(value='Pacific Time (US & Canada)') (GMT-08:00) Pacific Time (US & Canada)
                                        option(value='Arizona') (GMT-07:00) Arizona
                                        option(value='Mountain Time (US & Canada)') (GMT-07:00) Mountain Time (US & Canada)
                                        option(value='Central Time (US & Canada)', selected='selected') (GMT-06:00) Central Time (US & Canada)
                                        option(value='Eastern Time (US & Canada)') (GMT-05:00) Eastern Time (US & Canada)
                                        option(value='Indiana (East)') (GMT-05:00) Indiana (East)
                        .form-group
                            label.col-md-3.control-label Username:
                            .col-md-8
                                input.form-control(type='text', value='janeuser')
                        .form-group
                            label.col-md-3.control-label Password:
                            .col-md-8
                                input.form-control(type='password', value='11111122333')
                        .form-group
                            label.col-md-3.control-label Confirm password:
                            .col-md-8
                                input.form-control(type='password', value='11111122333')
                        .form-group
                            label.col-md-3.control-label
                            .col-md-8
                                input.btn.btn-primary(type='button', value='Save Changes')
                                span
                                input.btn.btn-default(type='reset', value='Cancel')
        hr
