//
   Created by Vishva on 4/20/2017.
.mainbody.container-fluid
    .row
        div(style='padding-top:50px;')  
        .col-lg-3.col-md-3.col-sm-3.hidden-xs
            .panel.panel-default.panel-menu.panel-active
                .panel-body
                    a(ui-sref='myAccount')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Settings
                        | &nbsp;
                        span.glyphicon.glyphicon-cog
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='mySongs')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  My Songs
                        | &nbsp;
                        span.glyphicon.glyphicon-headphones
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='myAccount')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  My Messages
                        | &nbsp;
                        span.glyphicon.glyphicon-comment
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .panel.panel-default
                .panel-body
                    h1.panel-title.pull-left(style='font-size:20px;') My basic profile
            .panel.panel-default
                .panel-body
                    h3.panel-title.pull-left Your photo
                    br
                    br
                    div(align='center')
                        .col-lg-12.col-md-12
                            img.img-circle.img-responsive(src='https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png', width='100px', height='100px')
                        .col-lg-12.col-md-12
                            button.btn.btn-primary
                                i.fa.fa-upload(aria-hidden='true')
                                |  Upload a new profile photo!
            .panel.panel-default
                .panel-body
                    h3.panel-title.pull-left Basic Details
                    h3.panel-title.pull-right
                        button.btn.btn-default(ng-click='showEdit = !showEdit', ng-show='!showEdit')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Edit
                        button.btn.btn-default(ng-click='showEdit = !showEdit', ng-show='showEdit')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Done
                    br
                    br
                    form.form-horizontal
                        label First name
                        input.form-control(type='text', ng-model='$ctrl.FirstName', ng-disabled='!showEdit')
                        label Last name
                        input.form-control(type='text', ng-model='$ctrl.LastName', ng-disabled='!showEdit')
                        label Gender
                        input.form-control(type='text', ng-model='$ctrl.Gender', ng-disabled='!showEdit')
                        label Country
                        input.form-control(type='text', ng-model='$ctrl.Country', ng-disabled='!showEdit')
                        label BirthDate
                        input.form-control(type='date', ng-model='$ctrl.BirthDate', ng-disabled='!showEdit')

            hr
            .panel.panel-default
                .panel-body
                    h3.panel-title.pull-left Profile settings
                    br
                    br
                    h4 User
                    form.form-horizontal
                        label UserName
                        input.form-control(type='text', disabled='', ng-model='$ctrl.userName')
                        label Email
                        input.form-control(type='text', disabled='', ng-model='$ctrl.userEmail')
                        label Current Password
                        input.form-control(type='password', ng-disabled='!showEditPass', ng-model='$ctrl.currentPass')
                        label(ng-show='showEditPass') New Password
                        input.form-control(type='password', ng-model='$ctrl.newPass', ng-show='showEditPass')
                        label(ng-show='showEditPass') Re-Enter New Password
                        input.form-control(type='password', ng-model='$ctrl.newPassConfirm',ng-show='showEditPass')
                    .panel-footer.pull-right
                        button.btn.btn-default(ng-click='showEditPass = !showEditPass', ng-show='!showEditPass')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Edit Password
                        button.btn.btn-default(ng-click='showEditPass = !showEditPass', ng-show='showEditPass')
                            span.glyphicon.glyphicon-edit
                            | &nbsp;
                            | Done


                    br
            .panel.panel-danger
                .panel-body
                    h3 You're about to save changes
                    p.text-danger
                        strong
                            i.fa.fa-fw.fa-exclamation-triangle(aria-hidden='true')
                            |  All the changes you have made here will be saved. Please note that username and email can't be changed.
                    button.btn.btn-default
                        i.fa.fa-fw.fa-times(aria-hidden='true')
                        |  Cancel
                    button.btn.btn-primary
                        i.fa.fa-fw.fa-check(aria-hidden='true')
                        |  Update Profile
