//
   Created by Vishva on 7/23/2017.

.mainbody.container-fluid
    .row
        div(style='padding-top:50px;')  
        .col-lg-3.col-md-3.col-sm-3.hidden-xs
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='myAccount')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Settings
                        | &nbsp;
                        span.glyphicon.glyphicon-cog
            .panel.panel-default.panel-menu.panel-active
                .panel-body
                    a(ui-sref='mySongs')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  My Songs
                        | &nbsp;
                        span.glyphicon.glyphicon-headphones
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='myAccount')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  My Messages
                        | &nbsp;
                        span.glyphicon.glyphicon-comment
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .panel.panel-default
                .panel-body
                    h1.panel-title.pull-left(style='font-size:20px;') Your contributions to MPlay


            .panel.panel-default
                .panel-body
                    ul.nav.nav-tabs
                        li(ng-class="{'active': $ctrl.showLiked, '': !$ctrl.showLiked}")
                            a(data-toggle='tab', ng-click="$ctrl.showDisLiked = false;$ctrl.showLiked = true;$ctrl.showReported = false;$ctrl.showUploaded = false;") Liked Songs
                        li(ng-class="{'active': $ctrl.showDislLked, '': !$ctrl.showDisLiked}")
                            a(data-toggle='tab', ng-click="$ctrl.showDisLiked = true;$ctrl.showLiked = false;$ctrl.showReported = false;$ctrl.showUploaded = false;") Disliked Songs
                        li(ng-class="{'active': $ctrl.showReported, '': !$ctrl.showReported}")
                            a(data-toggle='tab', ng-click="$ctrl.showDisLiked = false;$ctrl.showLiked = false;$ctrl.showReported = true;$ctrl.showUploaded = false;") Reported Songs
                        li(ng-class="{'active': $ctrl.showUploaded, '': !$ctrl.showUploaded}")
                            a(data-toggle='tab', ng-click="$ctrl.showDisLiked = false;$ctrl.showLiked = false;$ctrl.showReported = false;$ctrl.showUploaded = true;") Uploaded Songs
                    .tab-content
                        .tab-pane.fade.in(ng-class="{'active': $ctrl.showLiked, '': !$ctrl.showLiked}")
                            br
                            strong Operations :
                            button.btn.btn-danger()
                                span.glyphicon.glyphicon-remove
                                | &nbsp;
                                | Delete
                            button.btn.btn-default(ng-click='showEdit = !showEdit', ng-show='!showEdit')
                                span.glyphicon.glyphicon-edit
                                | &nbsp;
                                | Edit
                            button.btn.btn-default(ng-click='showEdit = !showEdit', ng-show='showEdit')
                                span.glyphicon.glyphicon-edit
                                | &nbsp;
                                | Done
                            table.table.table-hover
                                thead
                                    tr
                                        th Select
                                        th Song Title
                                        th Artist
                                        th Moods with Rank
                                        th Play Count
                                tbody
                                    tr(ng-repeat='song in $ctrl.likedSongs')
                                        td
                                            input(type='checkbox', checked='')
                                        td {{song.title}}
                                        td {{song.artist}}
                                        td
                                            li(ng-repeat='moods in song')
                                        td {{song.playCount}}
                                    tr
                                        td Mary
                                        td Moe
                                        td mary@example.com
                                    tr
                                        td July
                                        td Dooley
                                        td july@example.com

                        .tab-pane.fade.in(ng-class="{'active': $ctrl.showDisLiked, '': !$ctrl.showDisLiked}")
                            h3 Menu 1
                            p
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                        .tab-pane.fade.in(ng-class="{'active': $ctrl.showReported, '': !$ctrl.showReported}")
                            h3 Menu 2
                            p
                            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.

