.col-md-1{
    text-align: center;
    padding: 5px;
    width: 8%;
    transition: width 0.5s;
}

.col-md-1:hover{
    padding: 10px;
    width: 13%;
}

.emotions{
    position:absolute;
    top:120px;
    right:-130px;
    padding: 0px;
    width: 90px;
    float:left;
    text-align: center;
}

.emoicon{
    width:8%;
    transition: all 0.5s;
    float:left;
    cursor: pointer;
}
.emoicon:hover{
    width:8.7%;
    background: #f1c40f;
    cursor: pointer;
}

.emoiconInput{
    width:8%;
    transition: all 0.5s;
    float:left;
    cursor: pointer;
}
.emoiconInput:hover{
    width:8.7%;
    background: #f1c40f;
    cursor: pointer;
}

.selected{
    width:9%;
    background: #f1c40f;
}
.emobar{
    background: #ECF0F1;
}

.addsongform{
    width:40%;
    min-width: 300px;
    background: #bdc3c7;
    padding: 10px;
    border-radius: 10px;
    webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;

}

.songupload{
    border-radius: inherit;
    padding: 5px;
}

.tab-content{
    transition: all 0.5s;
}