
.seekBase {
    height: 10px;
    width: 100%;
    background-color: #e7e4ea;
}


.seekLoad {
    height: 10px;
    width: 0;
    background-color: #2e8bf1;
}

.volumeBase {
    padding: 0px;
    height: 10px;
    width:100px;
    background-color: rgba(0, 0, 0, 0.48);
    background-size: 17px 100px;
}


.volumeLoad {
    height: 10px;
    padding: 1px;
    width: 0;
    background-color: #a5a5a5;
}

.volumeLoadUnMute {
    height: 10px;
    padding: 1px;
    width: 0;
    background-color: #000000;
}

.volumeGroup{
    height:15px;
}

li {
    cursor: pointer;
}

#playerMain{
    z-index: 200;
    transition: all 0.5s linear;
    background: #9fdbe6;
    position: fixed;
    height: 30%;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
}

.previous{
    background-image: url("/player/buttons/previous.png");
    background-size: 20px 20px;
}


.next{
    background-image: url("/player/buttons/next.png");
    background-size: 20px 20px;
}


.play{
    background-image: url("/player/buttons/play.png");
    background-size: 40px 40px;
    color:transparent;
}




.pause{
    background-image: url("/player/buttons/pause.png");
    background-size: 40px 40px;
    color:transparent;
}

.stop{
    background-image: url("/player/buttons/stop.png");
    background-size: 20px 20px;
}

.repeat{
    background-image: url("/player/buttons/repeat.png");
    background-size: 17px 17px;
}

.mute{
    background-image: url("/player/buttons/mute.png");
    background-size: 17px 17px;
}

.unmute{
    background-image: url("/player/buttons/unmute.png");
    background-size: 17px 17px;
}

.playlist{
    background-image: url("/player/buttons/playlist.png");
    background-size: 20px 20px;
}

.playerBtns{
    transition: all 0.5s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    width: 40px;
    height: 40px;
    !important outline:0;

}

.playerBtns:hover{
    -webkit-filter: invert(80%);
    filter: invert(80%);
    background-color: transparent;
}

.playerBtns:focus{
    outline-color:transparent;
    background-color: transparent;
}

.playerBtnsVol{
    transition: all 0.5s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
!important outline:0;

}

.playerBtnsVol:hover{
    -webkit-filter: invert(80%);
    filter: invert(80%);
    background-color: transparent;
}

.playerBtnsVol:focus{
    outline-color:transparent;
    background-color: transparent;
}


.playList{
    background-color: #9acfea;
    width:100%;
    transition: all 0.5s linear;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}