
.seekBase {
    height: 10px;
    width: 100%;
    background-color: #e7e4ea;
}


.seekLoad {
    height: 10px;
    width: 0;
    background-color: #2e8bf1;
}

.volumeBase {
    padding: 0px;
    height: 10px;
    width:100px;
    background-color: rgba(0, 0, 0, 0.48);
    background-size: 17px 100px;
}


.volumeLoad {
    height: 10px;
    padding: 1px;
    width: 0;
    background-color: #a5a5a5;
}

.volumeLoadUnMute {
    height: 10px;
    padding: 1px;
    width: 0;
    background-color: #000000;
}

.volumeGroup{
    height:15px;
}

li {
    cursor: pointer;
}

#playerMain{
    z-index: 200;
    transition: all 0.5s linear;
    background: #9fdbe6;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x:hidden;
    animation: colorchange 40s linear infinite; /* animation-name followed by duration in seconds*/
    -webkit-animation: colorchange 40s linear infinite; /* Chrome and Safari */
    -moz-animation: colorchange 40s linear infinite;
    -o-animation: colorchange 40s linear infinite;
    min-width: 320px;
}
.playerMainSmall{
    height: 10%;
    min-height: 110px;
}

.playerMainBig{
    height: 50%;
}

/*CSS animated background color changer for player*/

@keyframes colorchange
{
    0%,100% {background: #00bcbc
    }
    5% {background: #007bcc
    }
    10% {background: #3498db }
    15% {background: #0094b6
    }
    20% {background: #5f7b95
    }
    25% {background: #1274a0
    }
    30% {background: #1aa8ae
    }
    35% {background: #2285b9
    }
    40% {background: #8c8ad6
    }
    45% {background: #8fc5ff
    }
    50% {background: #bf87f1
    }
    55% {background: #a898e6
    }
    60% {background: #99b4e7
    }
    65% {background: #bcadf1
    }
    70% {background: #9396a6
    }
    75% {background: #807fa3
    }
    80% {background: #e2c5e1
    }
    85% {background: #b99d92
    }
    90% {background: #c7b2b2
    }
    95% {background: #00768d
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%,100% {background: #00bcbc
    }
    5% {background: #007bcc
    }
    10% {background: #3498db }
    15% {background: #0094b6
    }
    20% {background: #5f7b95
    }
    25% {background: #1274a0
    }
    30% {background: #1aa8ae
    }
    35% {background: #2285b9
    }
    40% {background: #8c8ad6
    }
    45% {background: #8fc5ff
    }
    50% {background: #bf87f1
    }
    55% {background: #a898e6
    }
    60% {background: #99b4e7
    }
    65% {background: #bcadf1
    }
    70% {background: #9396a6
    }
    75% {background: #807fa3
    }
    80% {background: #e2c5e1
    }
    85% {background: #b99d92
    }
    90% {background: #c7b2b2
    }
    95% {background: #00768d
    }
}

@-moz-keyframes colorchange /* Firefox */
{
    0%,100% {background: #00bcbc
    }
    5% {background: #007bcc
    }
    10% {background: #3498db }
    15% {background: #0094b6
    }
    20% {background: #5f7b95
    }
    25% {background: #1274a0
    }
    30% {background: #1aa8ae
    }
    35% {background: #2285b9
    }
    40% {background: #8c8ad6
    }
    45% {background: #8fc5ff
    }
    50% {background: #bf87f1
    }
    55% {background: #a898e6
    }
    60% {background: #99b4e7
    }
    65% {background: #bcadf1
    }
    70% {background: #9396a6
    }
    75% {background: #807fa3
    }
    80% {background: #e2c5e1
    }
    85% {background: #b99d92
    }
    90% {background: #c7b2b2
    }
    95% {background: #00768d
    }
}

@-o-keyframes colorchange /* Opera */
{
    0%,100% {background: #00bcbc
    }
    5% {background: #007bcc
    }
    10% {background: #3498db }
    15% {background: #0094b6
    }
    20% {background: #5f7b95
    }
    25% {background: #1274a0
    }
    30% {background: #1aa8ae
    }
    35% {background: #2285b9
    }
    40% {background: #8c8ad6
    }
    45% {background: #8fc5ff
    }
    50% {background: #bf87f1
    }
    55% {background: #a898e6
    }
    60% {background: #99b4e7
    }
    65% {background: #bcadf1
    }
    70% {background: #9396a6
    }
    75% {background: #807fa3
    }
    80% {background: #e2c5e1
    }
    85% {background: #b99d92
    }
    90% {background: #c7b2b2
    }
    95% {background: #00768d
    }
}


.previous{
    background-image: url("/player/buttons/previous.png");
    background-size: 20px 20px;
}


.next{
    background-image: url("/player/buttons/next.png");
    background-size: 20px 20px;
}


.play{
    background-image: url("/player/buttons/play.png");
    background-size: 40px 40px;
    color:transparent;
}




.pause{
    background-image: url("/player/buttons/pause.png");
    background-size: 40px 40px;
    color:transparent;
}

.stop{
    background-image: url("/player/buttons/stop.png");
    background-size: 20px 20px;
}

.repeat{
    background-image: url("/player/buttons/repeat.png");
    background-size: 17px 17px;
}

.mute{
    background-image: url("/player/buttons/mute.png");
    background-size: 17px 17px;
}

.unmute{
    background-image: url("/player/buttons/unmute.png");
    background-size: 17px 17px;
}

.playlist{
    background-image: url("/player/buttons/playlist.png");
    background-size: 20px 20px;
}
.like{
    background-size: 20px 20px;
    background-image: url("/player/buttons/like.png");
}

.dislike{
    background-size: 20px 20px;
    background-image: url("/player/buttons/like.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: bottom;
}

.warn{
    background-size: 20px 20px;
    background-image: url("/player/buttons/warn.png");
}
.playerBtns{
    transition: all 0.5s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    width: 40px;
    height: 40px;
    !important outline:0;

}

.playerBtns:hover{
    -webkit-filter: invert(80%);
    filter: invert(80%);
    background-color: transparent;
}

.playerBtns:focus{
    outline-color:transparent;
    background-color: transparent;
}

.playerBtnsVol{
    transition: all 0.5s;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
!important outline:0;

}

.playerBtnsVol:hover{
    -webkit-filter: invert(80%);
    filter: invert(80%);
    background-color: transparent;
}

.playerBtnsVol:focus{
    outline-color:transparent;
    background-color: transparent;
}


.playList{
    margin-top: 40px;
    background-color: #9acfea;
    width:100%;
    transition: all 0.5s linear;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

.currentDuration{
    position: absolute;
    top: 70px;
    right: 10px;
    font-weight: 500;
    font-size: 20px;
    background: rgba(191, 135, 241, 0.5);
}

.currentPosition{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 500;
    font-size: 20px;
    background: rgba(191, 135, 241, 0.5);
}

.currentTrackDetails{
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    top: 70px;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 20s linear infinite;
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite;
}


/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}
@keyframes scroll-left {
    0%   {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(0%); /* Browser bug fix */
        transform: translateX(0%);
    }
}

