#header{
	background-color: #1f1f14;
}
.top-space{
	align-content: center;
}

.c1{
	font-size: 20px;
	font-family: 'Francois One', sans-serif;
	color:#e0e0d1;
}

.c2{
	font-size: 25px;
	font-family: 'Francois One', sans-serif;
	color:#e0e0d1;
}

.c3{
	font-size: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color:#ffffff;
}

.c4{
	font-size: 40px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color:#ffcc00;
}
.c5{
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	align-content: center;
}



.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  

#imagearea{
	background-color: #e6e6ff ;
	
}
#imagearea img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#buynow{
	background-color: #8080ff;
	font-family: 'Raleway', sans-serif;
}

#seletdemo{
	background-color: #2e2e1f;
}
#selectdemo img{
	margin-left: auto;
    margin-right: auto;

}
.button{
	background-color:#ffcc00;
	color: white;
	border-radius: 8px;
	align-content: center; 
}
#selectdemo1 h2{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #262626;
}
#currentdemo{
	font-family: 'Raleway', sans-serif;
	background-color: #9999ff;
	margin-left: auto;
    margin-right: auto;
}
#currentdemo img{
	
	padding: 12px;
}
#currentdemo h3{
	font-size: 80px;
	color: #262626;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
#currentdemo h6{
	font-size: 25px;
	color: #262626;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}



#mplay{background-color: #b3b3ff;}

#mplay img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#mplaym h3{
	font-size: 25px;
	background-color: #b3b3ff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#rebuild{
	background-color: #6699ff;
}

#rebuild img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#rebuild h2{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: white;
}
#rebuild h5{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 15px;
}

#selectdemo{
	align-content: center;
	margin-left: auto;
    margin-right: auto;
}

#selectdemo img .playerEmoBar{
    width:320px;
    margin-right: -80px;
}

#selectdemo img.playlistEmoBar{
    width:250px;
    display: inline-block;
    float:right;
    vertical-align: middle;
    margin-right: -50px;
}

#selectdemo img.emoicon{
    width:8%;
    transition: all 0.5s;
    float:left;
    cursor: pointer;
}
#selectdemo img.emoicon:hover{
    width:8.7%;
    background: #f1c40f;
    cursor: pointer;
}

#selectdemo img.emoiconInput{
    width:8%;
    transition: all 0.5s;
    float:left;
    cursor: pointer;
}
#selectdemo img.emoiconInput:hover{
    width:8.7%;
    background: #f1c40f;
    cursor: pointer;
}

#selectdemo img.selected{
    width:9%;
    background: #f1c40f;
}
#selectdemo img.emobar{
    background: #ECF0F1;
}

#register{
	background-color: #b3b3ff;
}
#register h3{
	text-align: center;
	font-family: 'Raleway', sans-serif; 
	font-size: 50px;
	color: #000033;
}

#content{
	background-color: #9999ff;
}

#content h3{
	font-size: 30px;
	font-family:'Raleway', sans-serif;
	text-align: center;
	color: #000033; 
}

#us img{
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	align-content:  center;
	display: block;
}

#us h3{
	text-align: center;
}

#us h4{
	text-align: center;
}

#contactus{
	background-color: #b3b3ff ;
}