//
   Created by Vishva on 7/23/2017.

.mainbody.container-fluid
    .row
        div(style='padding-top:50px;')  
        .col-lg-3.col-md-3.col-sm-3.hidden-xs
            .panel.panel-default.panel-menu.panel-active
                .panel-body
                    a(ui-sref='adminSongs')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Reported Songs
                        | &nbsp;
                        span.glyphicon.glyphicon-alert
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='adminUsers')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Current Users
                        | &nbsp;
                        span.glyphicon.glyphicon-user

        .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .panel.panel-default
                .panel-body
                    h1.panel-title.pull-left(style='font-size:20px;') Reported Songs


            .panel.panel-default
                .panel-body
                    .panel-title.pull-left
                    strong Selected Songs :
                    button.btn.btn-danger(ng-disabled="$ctrl.checkedSongs.length == 0",data-toggle="modal", data-target="#deleteModal")
                        span.glyphicon.glyphicon-remove
                        | &nbsp;
                        | Delete
                    br
                    hr
                    table.table.table-hover
                        thead
                            tr
                                th Select
                                th Song Title
                                th Artist
                                th Reported By
                                th Resolved?
                                th Date Reported
                                th Action
                        tbody
                            tr(ng-repeat='song in $ctrl.songs')
                                td
                                    input(name="{{song.id}}", type='checkbox', ng-click="$ctrl.checked($event.currentTarget)")
                                td {{song.title}}
                                td {{song.artist}}
                                td {{song.reported.reportedUser.username}}
                                td {{song.reported.resolved}}
                                td {{song.reported.date}}
                                td
                                    button.btn.btn-default(ng-click="$ctrl.resolveSong = song.id", data-toggle="modal", data-target="#resolveModal") Resolve
                                    button.btn.btn-default(ng-click="$ctrl.ignoreSong = song.id", data-toggle="modal", data-target="#ignoreModal") Ignore
                            tr(ng-show="!$ctrl.songs")
                                td Loading content

#deleteModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Are you sure?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                p You are about to delete selected songs from app. Are you sure?

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='$ctrl.deleteSongs()') Delete
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#resolveModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Are you sure?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                p You are about to delete selected songs from app. Are you sure?

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='$ctrl.deleteSongs()') Delete
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#ignoreModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Are you sure?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                p You are about to delete selected songs from app. Are you sure?

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='$ctrl.deleteSongs()') Delete
                button.btn.btn-default(type='button', data-dismiss='modal') Close