//
   Created by Vishva on 7/23/2017.

.mainbody.container-fluid
    .row
        div(style='padding-top:50px;')  
        .col-lg-3.col-md-3.col-sm-3.hidden-xs
            .panel.panel-default.panel-menu
                .panel-body
                    a(ui-sref='adminSongs')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Reported Songs
                        | &nbsp;
                        span.glyphicon.glyphicon-alert
            .panel.panel-default.panel-menu.panel-active
                .panel-body
                    a(ui-sref='adminUsers')
                        span.divtoLink
                    h1.panel-title.pull-right(style='font-size:20px;')
                        i.fa.fa-cogs(aria-hidden='true')
                        |  Current Users
                        | &nbsp;
                        span.glyphicon.glyphicon-user

        .col-lg-9.col-md-9.col-sm-9.col-xs-12
            .panel.panel-default
                .panel-body
                    h1.panel-title.pull-left(style='font-size:20px;') Current Users


            .panel.panel-default
                .panel-body
                    .panel-title.pull-left
                    strong Selected Users :
                    button.btn.btn-danger(ng-disabled="$ctrl.checkedUsers.length == 0",data-toggle="modal", data-target="#deleteModal")
                        span.glyphicon.glyphicon-remove
                        | &nbsp;
                        | Delete
                    br
                    hr
                    table.table.table-hover
                        thead
                            tr
                                th Select
                                th Username
                                th Email
                                th Country
                                th Image
                                th User Level
                                th Change Privileges
                        tbody
                            tr(ng-repeat='user in $ctrl.users')
                                td
                                    input(name="{{user.id}}", type='checkbox', ng-click="$ctrl.checked($event.currentTarget)")
                                td {{user.username}}
                                td {{user.email}}
                                td {{user.country}}
                                td
                                    img.img-responsive.img-circle(ng-src='{{user.imageURL}}', width='30px', height='30px',style='margin:auto;')
                                td {{user.userLevel}}
                                td
                                    button.btn.btn-default(name="{{user.id}}",ng-click="$ctrl.makeAdminUser = user.id", data-toggle="modal", data-target="#makeAdminModal") Make Admin
                                    button.btn.btn-default(name="{{user.id}}",ng-click="$ctrl.makeModUser = user.id", data-toggle="modal", data-target="#makeModModal") Make Moderator
                            tr(ng-show="!$ctrl.users")
                                td Loading content

#deleteModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Are you sure?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                p You are about to delete selected users from app. Are you sure?

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='$ctrl.deleteUsers()') Delete
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#makeAdminModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Are you sure?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                p You are about to make this user an administrator of MPlay. Are you sure?

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='$ctrl.makeAdmin()') Make Admin
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#makeModModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header.modal-header-warn
                h4.modal-title.pull-left Are you sure?
                img.img-thumbnail.pull-right(src="images/Logo.png", width="80px")
            .modal-body
                p You are about to make this user a moderator of MPlay. Are you sure?

            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal', ng-click='$ctrl.makeMod()') Make Moderator
                button.btn.btn-default(type='button', data-dismiss='modal') Close